/* ./styles/globals.css */
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* whatsapp */
#whatsapp {
  display: block;
  width: 70px;
  height: 70px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  border-radius: 50%;
  line-height: 80px;
  z-index: 999;
}

.overflow {
  height: 50%;
  overflow: hidden;
}

.overflow .card-img-top {
  transform: scale(1);
  transform: all 0.2s ease-in-out;
}

.overflow .card-img-top:hover {
  transform: scale(1.8);
}

/* Small (sm)   a partir de 640px se aplica los que está en la media */
@media (max-width: 640px) {
  .progressbarSize {
    padding-left: 1px;
    padding-right: 1px;
    background-color: red;  
  }
}

/* Medium (md) */
@media (min-width: 768px) {
  /* ... */
}

/* Large (lg) */
@media (min-width: 1024px) {
  /* ... */
}

/* Extra Large (xl) */
@media (min-width: 1280px) {
  /* ... */
}
